<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My first VueJs</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div id="root" class="container">
    <h1>C'est ma première Vuejs App</h1>
    <div class="roott" id="app">
      {{ message }}<br>
      <a v-bind:href="link + '/#contact'" :target="target">{{message}}</a><br>
      Votre salutation : <input type="text" v-model="bibo">
      <p>{{bibo}}</p>

    <!--<div class="alert alert-success" v-if="success">-->
    <!--<div class="alert" :class="success ? 'alert-success' : 'alert-warning'">-->
    <div class="alert" :class="{'alert-success': success, 'alert-danger': !success}">
      <i class="glyphicon glyphicon-remove" v-on:click="close"></i>
      <p>Je suis super genial...</p>
    </div>

    <input type="checkbox" v-model="success">
    <ul :style="style">
      <li v-for="person in persons">{{person}}</li>
    </ul>
  </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
  <script src="main.js" type="text/javascript"></script>
</body>
</html>
