<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Event vueJs</title>
</head>
<body>
  <div id="app">
     <h2>{{title}}</h2>
     <form v-on:submit.prevent="addTask()">
         <input type="text" placeholder="Entre tache à faire" v-model="task">
         <button type="submit">Ajouter</button>
     </form>

     <ul>
         <li
         v-bind:class="{completed: task.done}"
         v-on:click="task.done =! task.done"
         v-for='task in tasks'>
            <span v-if="!task.ifIsEditMode">
                <i class="fa fa-edit" v-on:click="switchMode(task)"></i>
                {{task.description}}
                <i class="fa fa-trash-o" v-on:click="deleteTask(task)"></i>
            </span>
            <span v-else>
                <i class="fa fa-thumbs-o-up"></i>
                <input type="text" v-model="task.description" v-on:keyup.enter="switchMode(task)">
            </span>
         </li>
     </ul>

  </div>
  <script src="vue-2/vue.js" type="text/javascript"></script>
  <script src="vue-2/main_event.js" type="text/javascript"></script>
</body>
</html>
