<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event vueJs</title>
</head>
<body>
  <div id="app">
     <h2>{{title}}</h2>
     <form v-on:submit.prevent="addTask()">
         <input type="text" placeholder="Entre tache à faire" v-model="task">
         <button type="submit">Ajouter</button>
     </form>

     <ul>
         <li v-for='task in tasks'> {{task.description}}</li>
     </ul>

  </div>
  <script src="vue-2/vue.js" type="text/javascript"></script>
  <script src="vue-2/main_event.js" type="text/javascript"></script>
</body>
</html>
